* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 20px 0;
}

.header .logo {
    font-size: 24px;
    font-weight: 500;
}

.header .header-links ul {
    list-style-type: none;
    display:flex;
    gap: 20px;
}

.header .header-links a {
    text-decoration: none;
    size: 10px;
    color: rgb(153, 150, 150);
}

.section1 {
    background-color: #1F2937;
    padding: 0px 125px;
}

.herospot {
    padding: 80px 0;
    display:flex;
    gap: 20px;
}

.herospot-left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

#herospot-subtext{
    color:#E4E7EB;
    font-size: 18px;
}

.herospot-right {
    flex-basis:50%;
    background-color: rgb(123, 124, 124);
    display: flex;
    align-items: center;
    justify-content: center;  
    color: white;
}

.herospot-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.herospot button {
    background-color: #3882F6;
    width:fit-content;
    padding: 6px 15px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 500;
    margin-top: 10px;
}

.section2{
    padding: 40px 200px 80px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-size: 36px;
    color:  #1F2937;
    font-weight: 900;
    text-align: center;
}

.card-container {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.card {
    display:flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 150px;
}

.card-img {
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;;
    border-radius: 12px;
    height: 150px;
}

.card-text {
    text-align: center;
    font-size: 15px;
}

.section3{
    padding: 150px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    font-size: 20px;
    color: black;
    font-weight: 700;
    text-align: right;
}

.section4 {
    margin: 100px 20px;
    padding: 50px 150px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}



.cta-quote {
    font-size: 20px;
}

.section4 button {
    color: white;
    background-color: #3882F6;
    border-style: solid;
    border-color:#F9FAF8;
    border-radius: 10px;
    padding: 5px 40px;
}
